
.h-relief {
    text-align: center;
    position: relative;
    height: 40vh;
    background-color: #4682b4;
  }
  
  .h-relief h1 {
    font-size: clamp(32px, 5vw, 70px);
    color: #ebebeb;
    text-shadow: 
      2px 2px 4px rgba(0, 0, 0, 0.7), 
      -1px -1px 2px rgba(0, 0, 0, 0.7), 
      1px -1px 2px rgba(0, 0, 0, 0.7), 
      -1px 1px 2px rgba(0, 0, 0, 0.7), 
      1px 1px 2px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .relief-container {
    display: flex;
    justify-content: center;
    gap: 8vw;
    padding: 40px;  
  }
  .relief-box {
    width: 25%;
    height: 400px;
    border: 3px solid #0f0f0f;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: transparent;
  }
  .relief-box h2 {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 22px;
    color: #ebebeb;
  }
  .relief-box p {
    font-size: 14px;
    color: #0f0f0f;
    flex-grow: 1;
  }
  
  .relief-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #2a6a9e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 20px;
  }
  
  .relief-btn:hover {
    background-color: #3882be;
    color: #0f0f0f;
    transform: translateY(-3px);
  }
  
  .btn:active, .btn:focus {
    background-color: #47558d;
    transform: translateY(1px);
  }